



/* Use your own code or past solution for Great Idea Web Page CSS here! */

body {
    width: 80%;
    margin: 0 auto;
}

nav {
    padding-bottom: 2%;   
    padding-left: 2%;
    padding-right: 2%;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
 }

.logo {
    width: 50%;
    height: 10vh;
}

.links a {
    text-decoration: none;
    color: grey;
    width: 50%;
}

header {
    display: flex;
    align-items: center;
    text-align:center;
    padding: 2%;
}

.header-right {
    width: 50%;
}

button {
    width: 150px;    
}

.header-right-items {
    display: flex;
    flex-direction: column;
    text-align: center;  
    align-items: center;
    padding-bottom: 10%;
}

.header-left {
    width: 50%;
}

h1 {
    text-transform: uppercase;
    font-weight: bold; 
}

.first-paragraph {
    display: flex;
    border-top: 1px solid black;
    justify-content: space-between;
}

.first-paragraph .features {
    width: 48%;
}

.first-paragraph .about {
    width: 48%;
}

.third-paragraph {
    display: flex;
    border-bottom: 1px solid black;
}

.second-paragraph img {
    width: 100%;
    object-fit: fill;
}

#contactAddress {
    line-height: 0;
}

footer {
    text-align: center;
    padding: 2%;
}